<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
<parameter name="driver.prop" value="webdriver.chrome.driver"></parameter>
<parameter name="driver.path" value="C:\Users\Nuard\Downloads\chromedriver.exe"></parameter>
<parameter name="login" value="fortesting14@yandex.ru"></parameter>
<parameter name="pass" value="Knockknock14"></parameter>
  <test name="Test" >
    <classes>
       <class name="linkedin.LoginTest"/>
       <class name="linkedin.EditProfileTest"/>
       <class name="linkedin.MessagingTest"/>
       <class name="linkedin.SearchTest"/>
       <class name="linkedin.DashboardTest"/>
       <class name="linkedin.SharingTest"/>
       <class name="linkedin.NavIconHomeTest"/>
       <class name="linkedin.NavIconMyNetworkTest"/>
       <class name="linkedin.NavIconJobsTest"/>
       <class name="linkedin.NavIconMessagingTest"/>
       <class name="linkedin.NavIconNotificationsTest"/>
    </classes>
  </test>
</suite>